body{
  background-color: white;
  color: white;
  display: flex;
  justify-content: left;
  align-items: flex-start;
  height: 100vh;
}
.image1{
  width: 300px;
  height: 600px;
  object-fit: cover;
  border-radius: 20px;
}
.calculator{
  display: grid;
  grid-template-columns: repeat(4, 55px);
  grid-gap: 5px;
  margin-left: -225px;
  margin-top: 200px;
}

button{
  background-color: rgb(51, 51, 51);
  border-radius: 250px;
  border: none;
  height: 50px;
  width: 50px;
  font-weight: 500;
  color: rgb(109, 36, 255);
  font-size: 25px;
}
button:active{
  background-color: rgb(109, 109, 109);
  opacity: 0.8;
}
.operand{
  background-color: rgb(170, 108, 9);
  border-radius: 250px;
  border: none;
  height: 50px;
  width: 50px;
  font-size: 17px;
}
.operand:active{
  opacity: 0.8;
  background-color: rgb(202, 125, 0);
  color: white;
}
.equal_button,
.clear_button{
  font-size: 18px;
}
.display_calculator{
  background-color: black;
  border-radius: 10px;
  width: 220px;
  height: 100px;
  margin-left: -260px;
  margin-top: 80px;
  color: white;
  font-size: 60px;
  text-align: right;
  direction: rtl;
}